.m-tagcloud{
  padding: $minds-padding;

  h3{
    padding: 8px;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
    @include m-theme(){
      color: rgba(themed($m-black), 0.75);
    }
  }
}

.m-tagcloud-tag {
  padding: $minds-padding;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Roboto', Helvetica, sans-serif;
  @include m-theme(){
    color: themed($m-grey-700);
  }
}
