<ul class="m-boost--creator-selector"
  [class.m-boost--creator-selector--has-selection]="boost.currency"
>
  <li class="m-boost--creator-selector--small"
    (click)="setBoostCurrency('onchain')"
    [class.m-boost--creator-selector--highlight]="!boost.currency || boost.currency == 'onchain'"
  >
    <i class="material-icons m-boost--creator--payment-method--icon">link</i>
    <h5>
      <span i18n="@@M__COMMON__ONCHAIN">OnChain</span>
      <m-tooltip icon="help" i18n="@@BOOST__CREATOR__PAYMENT_METHODS__ONCHAIN_DESC">
        Onchain payments will be published to the public blockchain. You may utilize Metamask or another address. These purchases require a Gas fee.
      </m-tooltip>
    </h5>

    <span class="m-boost--creator-selector--description m-boost--creator-selector--description--small">
      <m-tooltip anchor="left">
        <span m-tooltip--anchor class="m-boost--creator-selector--hoverable"  i18n="@@M__COMMON__BALANCE_LABEL">Balance</span>

        <ng-container *ngIf="!balances.isReceiverOnchain; else receiverOnchainTooltip" i18n="@@M__COMMON__BALANCE_VALUE_ETH_IFACE_LABEL">
          This balance is for the {{ balances.onChainAddress | addressExcerpt:true }} wallet that is
          currently active in your Ethereum interface.
        </ng-container>
        <ng-template #receiverOnchainTooltip i18n="@@M__COMMON__BALANCE_VALUE_AS_RCV_LABEL">
          This balance is for the {{ balances.onChainAddress | addressExcerpt:true }} wallet that is
          currently set up as the receiver wallet for your channel.
        </ng-template>
      </m-tooltip>:

      <ng-container>
        <ng-container *ngIf="balances.onchain !== null; else loadingOnchainBalance">
          {{ balances.onchain | token:18 | number }}
        </ng-container>

        <ng-template #loadingOnchainBalance>&hellip;</ng-template>
      </ng-container>
    </span>

    <ul class="m-boostCreatorSelector__bullets">
      <li>Max 10k per boost</li>
      <li>Stored on the blockchain</li>
      <li>Stand out in the feeds</li>
      <li>Gain "OnChain" badge</li>
    </ul>

    <span class="m-boost--creator-selector--selected-label" i18n="@@M__COMMON__SELECTED">Selected</span>
  </li>

  <li class="m-boost--creator-selector--small"
    (click)="setBoostCurrency('offchain')"
    [class.m-boost--creator-selector--highlight]="!boost.currency || boost.currency == 'offchain'"
  >
    <i class="material-icons m-boost--creator--payment-method--icon">donut_large</i>
    <h5>
      <span i18n="@@M__COMMON__OFFCHAIN_LABEL">OffChain</span>
      <m-tooltip icon="help" i18n="@@BOOST__CREATOR__PAYMENT_METHODS__OFFCHAIN_DESC">
        Offchain payments will not be published to the blockchain and are only usable for transactions up to 5,000 views.
      </m-tooltip>
    </h5>

    <span class="m-boost--creator-selector--description m-boost--creator-selector--description--small">
      <m-tooltip anchor="left">
        <span m-tooltip--anchor class="m-boost--creator-selector--hoverable" i18n="@@M__COMMON__BALANCE_LABEL">Balance</span>

        <ng-container i18n="@@M__COMMON__BALANCE_VALUE_OFFCHAIN_LABEL">
          This balance is for your Minds.com OffChain wallet.
          Transactions made from this address will not appear on the blockchain.
        </ng-container>
      </m-tooltip>:

      <ng-container>
        <ng-container *ngIf="balances.offchain !== null; else loadingOffchainBalance">
          {{ balances.offchain | token:18 | number }}
        </ng-container>

        <ng-template #loadingOffchainBalance>&hellip;</ng-template>
      </ng-container>
    </span>

    <ul class="m-boostCreatorSelector__bullets">
      <li>Max 5k per boost</li>
      <li>Stored on Minds servers</li>
      <li>No transaction fee</li>
      <li style="list-style:none">&nbsp;</li>
    </ul>

    <span class="m-boost--creator-selector--selected-label" i18n="@@M__COMMON__SELECTED">Selected</span>
  </li>

  <li class="m-boost--creator-selector--small"
    *ngIf="boost.type !== 'p2p' && false"
    (click)="setBoostCurrency('usd')"
    [class.m-boost--creator-selector--highlight]="!boost.currency || boost.currency == 'usd'"
  >
    <i class="material-icons m-boost--creator--payment-method--icon">credit_card</i>
    <h5>
      <span i18n="@@BOOST__CREATOR__CC_SELECTOR">Credit Card</span>
      <m-tooltip icon="help" anchor="right" i18n="@@BOOST__CREATOR__PAYMENT_METHODS__CC_SELECTOR_DESC">
        Credit cards may be used to boost, though we recommend first purchasing tokens in order to access a discount.
      </m-tooltip>
    </h5>

    <span class="m-boost--creator-selector--description m-boost--creator-selector--description--small" i18n="@@M__COMMON__SELECT_MONEY">
      Don't have tokens? No problem.
    </span>

    <span class="m-boost--creator-selector--selected-label" i18n="@@M__COMMON__SELECTED">Selected</span>
  </li>

  <li class="m-boost--creator-selector--small"
    (click)="buyTokens()"
  >
    <i class="material-icons m-boost--creator--payment-method--icon">monetization_on</i>
    <h5>
      <span i18n="@@BOOST__CREATOR__CC_SELECTOR">Buy Tokens</span>
      <m-tooltip icon="help" anchor="right">
        Don't have tokens?
      </m-tooltip>
    </h5>

    <span class="m-boost--creator-selector--description m-boost--creator-selector--description--small" i18n="@@M__COMMON__SELECT_MONEY">
      Don't have tokens?
    </span>

    <span class="m-boost--creator-selector--selected-label" i18n="@@M__COMMON__SELECTED">Selected</span>
  </li>

</ul>
