.m-captcha--sum{
  text-align: left;

  .m-captcha--sum-question{
    font-size: 18px;
    padding: 8px;
    letter-spacing: 1px;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 600;
    display: inline-block;
  }

  input[type=number]{
    display: inline-block;
    width: 46px;
    font-size: 22px;
    padding: 8px 0px;
    text-align: center;
    font-weight: 600;
    font-family: 'Roboto', Helvetica, sans-serif;
    box-sizing: content-box;
  }
}
