.m-wire-console--hero{
  border-radius: 3px;

  @include m-theme(){
    color: themed($m-white);
    background-color: themed($m-blue);
  }

  .m-wire-console--hero-header{
    display: flex;
    flex-direction:row;
    align-items: center;
    padding-right: 32px;
  }

  h2 {
    margin: 0;
    padding: 16px 32px;
    font-weight: 400;
    flex: 1;
  }
  p{
    margin:0;
    padding: 0 32px;
    font-family: 'Roboto', Helvetica, sans-serif;
  }

  m-date-selector {
    font-size: 25px;
    justify-content: flex-end;
    margin: 0px 30px;
    display: flex;
    @include m-theme(){
      color: themed($m-white);
    }
    div {
      border: none;
      @include m-theme(){
        color: themed($m-white);
        background-color: rgba(themed($m-white), 0.1);
      }
    }
    input {
      font-size: 25px;
      width: 250px;
      @include m-theme(){
        color: themed($m-white);
      }
    }
  }
}

.m-wire-console--options {
  padding: $minds-padding * 2;
  margin-top: $minds-padding;
  border-radius: 4px;
  @include m-theme(){
    background-color: themed($m-white);
  }

  .m-wire-console--options-toggle {
    text-align: right;
  }
}

.m-wire-console--rewards {
  @include m-theme(){
    background-color: themed($m-white);
  }
}
