.m-wire-console--ledger {
  .mdl-tabs__tab-bar{
    justify-content: left;
    align-items: center;
  }
  .mdl-tabs__tab {
    cursor: pointer;
  }

  .m-wire-console--ledger-filters {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;

    m-date-selector {
      display: flex;
      align-items: center;
      align-self: center;
    }

    .m-wire-console--ledger-method {
      position: relative;
      font-size: 12px;
      margin-left: $minds-padding;
      @include m-theme(){
        color: themed($m-grey-300);
      }

      > * {
        vertical-align: middle;
      }
    }
  }
}

.m-wire-console--ledger-table{
  margin-top: 16px;

  table{
    width:100%;
    font-family: 'Roboto', Helvetica, sans-serif;
  }

  .m-wire-console--ledger-header{
    th{
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }

  .m-wire-console--ledger-row{
    td{
      letter-spacing: 1px;
      text-transform: uppercase;

      i{
        cursor: pointer;
      }
    }

    .m-wire-console--ledger-channel {
      cursor: pointer;
    }

    .m-wire-console--ledger-amount{
      font-size: 26px;
      text-transform: lowercase;
    }

    .m-wire-console--ledger-refunded{
      border-radius: 3px;
      font-size: 11px;
      display: inline-block;
      padding: 4px 8px;
      vertical-align: middle;
      margin-top: -6px;
      margin-right: 8px;
      @include m-theme(){
        color: themed($m-grey-400);
        border: 1px solid themed($m-grey-50);
      }

      > * {
        vertical-align: middle;
      }
      m-tooltip i{
        font-size:14px;
      }
    }
  }

}
