.m-report-console--tabs {
  margin-bottom: $minds-padding * 2;
  flex-wrap: wrap;
  height: auto;
  a.mdl-tabs__tab {
    cursor: pointer;

    display: flex;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: $max-mobile) {
      line-height: 20px;
      padding: 0 12px;
    }
  }
}

.m-report-console--item {
  margin-bottom: 8px;

  .m-report-console--header {
    margin: 16px;
    padding: 16px;
    font-family: 'Roboto', Helvetica, sans-serif;

    > b {
      font-size: 13px;
    }

    p {
      margin-bottom: 0;
      font-size: 13px;
      letter-spacing: 1px;
      font-weight: 300;

      b {
        text-transform: lowercase;
      }
    }
  }

  .m-report-console--meta {
    display: flex;
    align-items: center;
    margin: ($minds-padding * 2) ($minds-padding * 2) 0;
    font-family: 'Roboto', sans-serif;

    .m-report-console--info {
      flex-grow: 1;

      p {
        margin-bottom: 0;
        font-weight: 300;
      }

      .m-report-console--meta--time {
        font-size: 12px;
        margin-bottom: $minds-padding;
        @include m-theme(){
          color: themed($m-grey-300);
        }
      }

      .m-report-console--meta--appeal-note {
        margin: $minds-padding 0 0 1em;
        padding: $minds-padding ($minds-padding * 2);
        font-style: italic;
        @include m-theme(){
          border-left: 2px solid themed($m-grey-200);
        }
      }

      .material-icons {
        font-size: 1.25em;
        vertical-align: text-top;
        margin-right: 0.35em;
        @include m-theme(){
          color: themed($m-grey-200);
        }
      }
    }
  }

  .m-report-console--card {
    margin: ($minds-padding * 2) ($minds-padding * 2) 0;
  }

  .m-comment-wrapper {
    .m-ribbon {
      display: none;
    }

    .m-report-console--comment-note {
      padding: 16px;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      font-weight: 300;

      a {
        text-decoration: none;
        font-weight: inherit;
        @include m-theme(){
          color: themed($m-grey-300);
        }
      }
    }
  }
}

.m-report-console--appeal {
  margin: $minds-padding ($minds-padding * 2) 0;

  .m-report-console--appeal--composer {
    margin-bottom: $minds-padding;

    textarea {
      display: block;
      width: 100%;
      resize: none;
      height: 5em;
      font-weight: 300;
      font-family: 'Roboto', Helvetica, sans-serif;
      padding: 16px;
      font-size: 13px;
      letter-spacing: 1px;
      @include m-theme(){
         border: 1px solid themed($m-grey-50);
      }
    }

    button {
      text-transform: uppercase;

      appearance: none;
      padding: 12px 16px;
      font-size: 13px;
      letter-spacing: 2.5px;
      background: none;
      float: right;
      margin: 8px 0;
      @include m-theme(){
        border: 1px solid themed($m-grey-100);
        color: themed($m-grey-400);
      }

      &:hover{
        cursor: pointer;
      }
    }
  }

  .m-report-console--appeal-note {
    padding: 16px;
    @include m-theme(){
       border: 1px solid themed($m-grey-50);
    }

    p {
      margin: 0;
      font-family: 'Roboto', Helvetica, sans-serif;
      font-size: 14px;
      letter-spacing: 1px;
    }
  }
}
