
<div class="m-messenger--userlist m-messenger--dockpane" [class.m-messenger--dockpane-open]="userListToggle">
  <div class="m-messenger--dockpane-tab" (click)="toggle()">
    <div class="m-messenger--dockpane-tab-title"><i class="material-icons">chat_bubble</i><span i18n="@@MESSENGER__USERLIST__MESSENGER_TITLE">Messenger</span></div>
    <div class="m-messenger--dockpane-tab-actions" (click)="$event.stopPropagation()">
      <i class="material-icons"
        (click)="ribbonToggle()">
        settings
      </i>
    </div>
  </div>
  <div class="m-messenger--dockpane-container">
    <div class="m-messenger--dockpane-tab-ribbon mdl-color-text--blue-grey-300" #ribbon [hidden]="!ribbonOpened">
      <div class="m-messenger--dockpane-tab-icon" (click)="logout(); ribbonOpened = false" [hidden]="!encryption.isOn()">
        <i class="material-icons mdl-color-text--blue-grey-100"
          title="Logout of chat" i18n-title="@@MESSENGER__USERLIST__LOGOUT_TOOLTIP"
          >exit_to_app</i>
          <ng-container i18n="@@MESSENGER__USERLIST__LOGOUT">Logout</ng-container>
      </div>
      <div class="m-messenger--dockpane-tab-icon mdl-color-text--blue-grey-300" (click)="sounds.mute(); ribbonOpened = false" [hidden]="!sounds.canPlay()">
        <i class="material-icons mdl-color-text--blue-grey-100"
          title="Disable sounds" i18n-title="@@MESSENGER__USERLIST__DISABLE_SOUNDS_TOOLTIP">notifications</i>
          <ng-container i18n="@@MESSENGER__USERLIST__MUTE">Mute</ng-container>
      </div>
      <div class="m-messenger--dockpane-tab-icon mdl-color-text--blue-grey-300" (click)="sounds.unmute(); ribbonOpened = false" [hidden]="sounds.canPlay()">
        <i class="material-icons mdl-color-text--blue-grey-100"
          title="Enable sounds" i18n-title="@@MESSENGER__USERLIST__ENABLE_SOUNDS_TOOLTIP">notifications_off</i>
          <ng-container i18n="@@MESSENGER__USERLIST__UNMUTE">Unmute</ng-container>
      </div>
      <div class="m-messenger--dockpane-tab-icon mdl-color-text--blue-grey-300" (click)="encryption.reKeying = !encryption.reKeying; ribbonOpened = false">
        <i class="material-icons mdl-color-text--blue-grey-100"
          title="Change your encryption password" i18n-title="@@MESSENGER__USERLIST__CHANGE_PWD_TOOLTIP">vpn_key</i>
          <ng-container i18n="@@MESSENGER__USERLIST__REKEY">Re-key</ng-container>
      </div>
    </div>
    <m-messenger--encryption *ngIf="encryption.reKeying"></m-messenger--encryption>

    <div class="m-messenger--userlist-conversations" minds-messenger-scroll [moreData]="hasMoreData" (next)="load({ offset: offset })">
      <div class="m-messenger--userlist-conversations-item"
      [hidden]="inProgress && !offset"
      *ngFor="let conversation of conversations"
      (click)="openConversation(conversation)">
        <!-- This is currently only configured for one-on-one chat -->
        <img [src]="minds.cdn_url + 'icon/' + conversation.participants[0].guid" class="mdl-shadow--2dp">
        <span class="m-conversation-label">{{conversation.username}}</span>
        <span class="m-conversation-icons">
          <span class="m-conversation-new mdl-color--green" [hidden]="!conversation.unread"></span>
          <span class="m-conversation-online mdl-color--blue" [hidden]="!conversation.online"></span>
        </span>
      </div>
      <div [hidden]="!inProgress" style="width:100%; text-align:center; ">
        <div class="mdl-spinner mdl-js-spinner is-active" [mdl] style="margin: 16px auto;"></div>
      </div>
    </div>

    <div class="m-messenger--userlist-search" [hidden]="ribbonOpened">
      <i class="material-icons">search</i>
      <input type="text" placeholder="Search" i18n-placeholder="@@MESSENGER__USERLIST__SEARCH_PH" #q (keyup)="search(q);">
    </div>

  </div>
</div>
