m-revenue--graph{
  padding: 16px;
  max-width: 990px;
  display: block;
  position: relative;
  margin:auto;

  rect{
    fill: transparent;
  }
  text{
    font-family: 'Roboto', Helvetica, sans-serif;
    @include m-theme(){
      fill: themed($m-white);
    }
  }
  path{
    stroke-width:3;
    @include m-theme(){
      stroke: themed($m-white);
    }
  }
  line{
    @include m-theme(){
      stroke: rgba(themed($m-white), 0.3);
    }
  }
  circle{
    @include m-theme(){
      fill: themed($m-white);
    }
  }
}
