.m-referrals-dashboard {
  @include m-theme() {
    color: themed($m-grey-800);
  }

  .m-referrals-dashboard__supportingText {
    padding: $minds-padding * 2;
    padding-bottom: 0;

    h3 {
      margin-bottom: 0;
    }
  }

  .m-referrals-dashboard__flexTable {
    width: 100%;
  }

  m-tooltip i:not(.m-referrals-dashboard__pingIcon) {
    font-size: 12px;
    margin-left: 1px;
    @include m-theme() {
      color: themed($m-grey-500);
    }
  }

  .m-referrals-dashboard__row {
    display: flex;
    justify-content: space-between;

    &.m-referrals-dashboard__headerRow {
      align-items: center;
      font-weight: bold;
      font-size: 12px;
      span {
        @include m-theme() {
          color: themed($m-grey-500) !important;
        }
      }

      .m-referrals-dashboard__rewardsCol {
        .m-tooltip--bubble {
          right: 2px;
        }
      }

    }
    &.m-referrals-dashboard__dataRow {
      font-size: 13px;
      @include m-theme() {
        border-top: 1px solid themed($m-grey-50);
      }
    }
  }

  .m-referrals-dashboard__cell {
    display: flex;
    padding: 8px 8px 8px 0;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    height: 32px;
  }

  .m-referrals-dashboard__userCol {
    min-width: 130px;
    flex: 6 2 0;
    padding-left: $minds-padding * 2;

    .m-referrals-dashboard__userNameWrapper, .m-referrals-dashboard__userNameWrapper * {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .m-referrals-dashboard__userAvatar {
      border-radius: 50%;
      margin-right: 8px;
      width: 24px;
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;

      span {
        letter-spacing: 0.25px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .m-referrals-dashboard__statusCol {
    min-width: 60px;
    flex: 3 5 0;
  }
  .m-referrals-dashboard__registerCol {
    min-width: 50px;
    flex: 3 4 0;
  }
  .m-referrals-dashboard__rewardsCol {
    min-width: 80px;
    flex: 4 2 0;
    padding-right: $minds-padding * 2;
    overflow: visible;
    white-space: normal;

    .m-referrals-dashboard__pingButtonContainer {
      display: flex;

      button {
        display:flex;
        justify-content: center;
        align-items: center;
        @include m-theme(){
          border-color: themed($m-blue);
          color: themed($m-blue);
        }
        span {
          padding-left: 0;
        }
        &:focus {
          outline: 0;
        }
        &:active {
          @include m-theme() {
            border-color: themed($m-blue-light);
            color: themed($m-blue-light);
          }
        }
        &.m-referrals-dashboard__pingButton--disabled {
          cursor: default;
          @include m-theme() {
            border-color: rgba(themed($m-grey-200),0.7);
            color: rgba(themed($m-grey-200),0.7);
          }
        }

        .m-referrals-dashboard__pingIcon {
          font-size: 18px;
        }

      }
    }
  }

  .m-referrals-dashboard__footer {
    justify-content: center;
    margin-top: $minds-padding;
    padding-bottom: $minds-padding * 2;

    &.m-referrals-dashboard__notice {
      @include m-theme() {
        color: themed($m-grey-500);
      }
    }
  }

  .m-referrals-dashboard__rewardsPendingIcon {
    display: none;
    margin-left: 12px;
    > i {
      @include m-theme(){
        color: themed($m-grey-200);
      }
    }
  }


  @media screen and (max-width: 910px) {
    .m-referrals-dashboard__row.m-referrals-dashboard__headerRow {
      span {
        white-space: normal !important;
        max-width: 35px;
      }
      .m-referrals-dashboard__registerCol,
      .m-referrals-dashboard__rewardsCol {
        align-items: flex-start !important;
      }
      .m-referrals-dashboard__rewardsCol span {
        max-width: 46px;
      }
    }
    .m-referrals-dashboard__cell.m-referrals-dashboard__rewardsCol {
      flex: 2 3 0;

      .m-referrals-dashboard__pingButtonContainer button {
        padding: 8px;

        span {
          display: none;
        }
      }
    }
  }
  @media screen and (max-width: 800px) {
    .m-referrals-dashboard__cell.m-referrals-dashboard__registerCol {
      display: none;
    }
    .m-referrals-dashboard__userCol {
      min-width: 100px;
    }
    .m-referrals-dashboard__statusCol {
      min-width: 60px;
    }
    .m-referrals-dashboard__rewardsCol {
      max-width: 75px;
    }
  }
}


.m-referrals-dashboard__pingIcon--wiggle {
  animation: wiggle 0.2s infinite;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
 25% { transform: rotate(-10deg); }
 50% { transform: rotate(10deg); }
 75% { transform: rotate(-10deg); }
100% { transform: rotate(0deg); }
}
