<m-analytics__card
  [title]="'Active Users'"
  [options]="['hourly', 'daily', 'monthly']"
  #card>
  <div class="m-analytics__averages">

    <ng-container *ngIf="card.selectedOption=='hourly'">
      <div class="m-analytics__average">
        <h6>AVG Hourly Unique Visits</h6>
        <h5>{{hauUnique | number : '1.0-0'}}</h5>
      </div>

      <div class="m-analytics__average">
        <h6>AVG Hourly Active Users</h6>
        <h5>{{hauLoggedIn | number : '1.0-0'}}</h5>
      </div>
    </ng-container>

    <ng-container *ngIf="card.selectedOption=='daily'">
      <div class="m-analytics__average">
        <h6>AVG Daily Unique Visits</h6>
        <h5>{{dauUnique | number : '1.0-0'}}</h5>
      </div>

      <div class="m-analytics__average">
        <h6>AVG Daily Active Users</h6>
        <h5>{{dauLoggedIn | number : '1.0-0'}}</h5>
      </div>
    </ng-container>

    <ng-container *ngIf="card.selectedOption=='monthly'">
      <div class="m-analytics__average">
        <h6>AVG Monthly Unique Vists</h6>
        <h5>{{mauUnique | number : '1.0-0'}}</h5>
      </div>

      <div class="m-analytics__average">
        <h6>AVG Monthly Active Users</h6>
        <h5>{{mauLoggedIn | number : '1.0-0'}}</h5>
      </div>

      <div class="m-analytics__average">
        <h6>Total Pageviews</h6>
        <h5>{{total | number : '1.0-0'}}</h5>
      </div>
    </ng-container>
  </div>

  <div class="m-analytics__averages">
    <div class="m-analytics__average" *ngFor="let current of currents">
      <h6>Current {{current.name}}</h6>
      <h5>{{current.value | number : '1.0-0'}}</h5>
    </div>
  </div>

  <div class="m-analyticsCard__charts">
    <m-analyticscharts__activeusers [timespan]="card.selectedOption" (loaded)="currents = $event"></m-analyticscharts__activeusers>
  </div>
</m-analytics__card>
