.m-androidApp__download {
  box-sizing: border-box;
  border-radius: 8px;
  @include m-theme(){
    border: 1px solid rgba(themed($m-white-always), 0.7);
    background: themed($m-black-always);
  }

  display: block;
  position: relative;
  text-decoration: none;

  height: 48px;
  padding: 2px 8px 0 8px;
  margin: auto;

  cursor: pointer;

  > * {
    display: inline;
    vertical-align: middle;
    line-height: 42px;
  }

  h2 {
    padding-left: 4px;
    margin: 0;

    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.25px;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    @include m-theme(){
      color: themed($m-white-always);
    }
  }

  i.material-icons {
    @include m-theme(){
      color: themed($m-white-always);
    }
  }
}
