.m-ad-sharing-analytics-component {
  .m-monetization--overview {
    padding: 26px;
    margin: 0px 0 16px;
    cursor: pointer;

    .m-monetization--overview-period {
      //padding: $minds-padding;
      .mdl-card{
        background:transparent;
      }

      h2 {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.25em;
        margin: 0 0 1.61em 0;
        font-family: 'Roboto', Helvetica, sans-serif;
        letter-spacing: 0.5px;
        @include m-theme(){
          color: themed($m-grey-50);
        }

        .m-subnote {
          font-size: 12px;
        }
      }

      .m-value {
        font-size: 18px;
        font-weight: 300;
        text-align: left;
        font-family: 'Roboto', Helvetica;
        font-size: 26px;
        letter-spacing: 2px;
        @include m-theme(){
          color: themed($m-white);
        }
      }
      .m-monetization--overview-period-tip{
          font-family: 'Roboto', Helvetica, sans-serif;
          margin-top: -28px;
          font-size: 9px;
          letter-spacing:1px;
          position: absolute;
          @include m-theme(){
            color: themed($m-grey-200);
          }
      }
    }
  }

  .m-monetization--other {
    font-size: 13px;
    font-weight: 300;
    text-align: left;
    padding: 8px;
    letter-spacing: 1px;
    font-family: 'Roboto', Helvetica, sans-serif;
    @include m-theme(){
      color: themed($m-grey-200);
    }
  }

  .m-monetization-cta-wrapper {
    width: 100%;
  }

  .m-monetization-cta {
    text-align: center;
    padding: $minds-padding;

    &.m-monetization-cta--right {
      text-align: right;
    }

    &.m-monetization-cta--left {
      text-align: right;
    }

    .m-note {
      font-size: 11px;
      @include m-theme(){
        color: themed($m-grey-300);
      }
    }
  }

  .m-monetization--list {
    > div {
      //padding: $minds-padding
    }

    table {
      width: 100%;
      table-layout: fixed;

      th {
        font-family: 'Roboto', Helvetica, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      .m-data-title {
        width: 45%;
      }

      td {
        font-weight: 300;

        a{
          text-decoration: none;
          font-family: Helvetica;
          letter-spacing: 1px;
          @include m-theme(){
            color: themed($m-blue-grey-700);
          }
        }

        &.mdl-data-table__cell--non-numeric {
          white-space: normal;
        }
      }
    }
  }
}
