
minds-payments-checkout, minds-payments-stripe-checkout{
  display:block;
  width:100%;

  .m-error{
    padding: 16px;
    font-family: 'Roboto', Helvetica, sans-serif;
  }

  .m-checkout-loading{
    padding:16px;
    text-align:center;
  }

  .m-payments-options{
    padding:16px;
    display:flex;
    flex-direction: column;
    align-items:center;

    > div{
      padding-right:16px;
    }

    #coinbase-btn{
      #bt-coinbase-button{
        text-transform: lowercase;
        font-size: 19px;
        border: 0;
        border-radius: 4px;
      }
    }

  }

  .m-payments--saved-cards{
    ul, li{
      list-style: none;
      cursor: pointer;
      padding: 0;
    }

    .m-payments-saved--title{
      padding: 16px 16px 0;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    .m-payments--saved-card-item{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 8px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: 'Roboto', Helvetica, sans-serif;
      margin: 16px;
      border-radius: 3px;
      @include m-theme(){
        border: 1px solid themed($m-grey-100);
      }

      > *{
        padding:8px;
      }

      .m-payments--saved-card-item-select{
        flex:auto;
        text-align:right;
        cursor: pointer;
        @include m-theme(){
          color: themed($m-grey-400);
        }
      }
    }

  }


  input[type=number]{
    -moz-appearance: textfield;
  }
  ::-webkit-inner-spin-button { -webkit-appearance: none;}
  ::-webkit-outer-spin-button { -webkit-appearance: none;}

}
.m-checkout-hint{
  font-size:11px;
  margin:0;
  padding:0;
}
