@import "defaults";

.m-lite--header {
  margin: auto;
  padding: 16px;
  max-width: 990px;
  display: flex;
  flex-direction: row;
  align-items: center;
  //border-bottom: 1px solid #EDEDEA;
  @include m-theme(){
    background-color: themed($m-white);
  }

  .m-lite--logo {
    flex: 1;
    img {
      height: 50px;
    }
  }

  button {
    float: right;
  }
}

.m-lite--body {
  margin: auto;
  //padding: 16px;
  //max-width: 990px;
  //margin-bottom: 16px;

  .m-wire--lock-screen-button {
    max-width: 740px;
    margin: 0 auto;
  }

  minds-banner {
    .minds-banner {
      max-height: 33vh;
      height: 33vh;
    }
  }

  minds-banner-fat {
    //position: absolute;
    //top: 82px;
    left: 0;
    z-index: -1;
    width: 100%;
        max-height: 60vh;
            overflow: hidden;
  }
}

.m-blog-lite--full-link {
  padding: 16px;
  font-family: 'Roboto', Helvetica, sans-serif;
  border-radius: 3px;

  a {
    text-decoration: none;
  }
}

.m-blog-lite {
  //margin-top: 30vh;
  padding: 16px;
  margin: 0 auto;
  //margin: 30vh auto 0;
  max-width: 740px;

  h1 {
    font-weight: 500;
  }

  img {
    max-width: 100%;
  }

  .m-blog-lite--body {
    padding-top: 24px;
  }
}

.m-ad-block-mobile {
  display: none;
}

@media screen and (max-width: $max-mobile) {
  .m-ad-block-square {
    display: none !important;
  }
  .m-ad-block-mobile {
    display: block;
  }
}
