<m-analytics__card
  [title]="'OffChain Wire'"
  [options]="['daily', 'monthly']"
  #card>
  <div class="m-analytics__averages">
    <div class="m-analytics__average">
      <h6>Avg Wired Tokens</h6>
      <h5>{{tokens | number : '1.0'}}</h5>
    </div>

    <div class="m-analytics__average">
      <h6>Avg Transactions</h6>
      <h5>{{transactions | number : '1.0'}}</h5>
    </div>
    <div class="m-analytics__average">
      <h6>Avg Wire Receivers</h6>
      <h5>{{receivers | number : '1.0'}}</h5>
    </div>

    <div class="m-analytics__average">
      <h6>Avg Wire Senders</h6>
      <h5>{{senders | number : '1.0'}}</h5>
    </div>
  </div>

  <div class="m-analytics__averages">
    <div class="m-analytics__average" *ngFor="let current of currents">
      <h6>Current {{current.name}}</h6>
      <h5>{{current.value | number : '1.0-0'}}</h5>
    </div>
  </div>

  <div class="m-analyticsCard__charts">
    <m-analyticscharts__offchainwire [timespan]="card.selectedOption" (loaded)="currents = $event"></m-analyticscharts__offchainwire>
  </div>
</m-analytics__card>
