m-boost-console-booster {
  border-radius: 3px;
  display: block;
  @include m-theme(){
     border: 1px solid themed($m-grey-50);
     background-color: themed($m-white);
  }

  .m-boost-console-booster--cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $minds-padding * 2;
    margin-top: $minds-padding;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;

    > button {
      flex-shrink: 0;
    }

    > span {
      margin-left: $minds-padding;
    }
  }

  .m-boost-console-booster--content {
    padding: $minds-padding * 2;

    > h3 {
      margin: 0.65em 0;
      text-transform: uppercase;
      font-family: 'Roboto', Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 1;
    }

    .m-boost-console--booster--posts-list {
      padding: 1px;
    }

    minds-card {
      margin-bottom: $minds-padding * 2;
      position: relative;
    }

    .m-boost-console-booster--content-grid {
      padding: 0;
      margin: 0 (0 - $minds-padding);

      minds-card {
        margin-bottom: $minds-padding;
      }
    }
  }
}
