.m-read-more--button {
  text-align: left;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 42px 16px 16px;
  @include m-theme(){
    background: linear-gradient(to bottom, rgba(themed($m-white), 0) 0%, rgba(themed($m-white), 1) 50%);;
  }

  > span {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    cursor: pointer;
    font-family: 'Roboto', Helvetica, sans-serif;
  }
}
