m-boost-console-card {
  display: block;

  minds-card {
    margin: ($minds-padding * 2);

    > minds-activity {
      margin-bottom: 0 !important;
    }
  }

  .m-boost-card--manager {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: ($minds-padding + 4px) $minds-padding $minds-padding;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    @include m-theme(){
      color: themed($m-blue-grey-500);
      background-color: themed($m-blue-grey-50);
    }
  }
  .m-boost-card--rejection-reason {
    padding: 16px;
    font-size: 13px;
    font-family: 'Roboto', Helvetica, sans-serif;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include m-theme(){
      color: themed($m-blue-grey-500);
      background-color: themed($m-blue-grey-50);
      border-top: 1px solid themed($m-grey-100);
    }
  }


  .m-boost-card--manager-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;

    &.m-boost-card--manager-item--buttons {
      flex-direction: row;

      > button {
        margin-left: 1em;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    a {
      text-decoration: none;
      font-weight: 400;
    }
  }
  m--crypto-token-symbol {
    svg {
      width: 24px;
      height: 24px;
    }

    .m--crypto-token-symbol--stroke {
      @include m-theme(){
        stroke: themed($m-blue-grey-500);
      }
    }

    .m--crypto-token-symbol--fill {
      @include m-theme(){
        fill: themed($m-blue-grey-500);
      }
    }
  }
}
