.m-affiliate--link{
  padding:16px;

  h2.m-revenue--console-product-header{
    //padding-left:0;
  }

  .m-affiliate--link-link{
    padding:0 16px 16px;

    input{
      padding: 12px;
      font-size: 18px;
      width: 100%;
    }
    span{
      padding: 8px 0;
      display: block;
      text-transform: uppercase;
    }
  }

  .m-affiliate--link-buttons{
    padding:24px 0 0;

    .m-affiliate--link-buttons-twitter{
      @include m-theme(){
        background: themed($m-twitter) !important;
      }
    }
    .m-affiliate--link-buttons-fb{
      @include m-theme(){
        background: themed($m-facebook) !important;
      }
    }
    .m-affiliate--link-buttons-email{
      @include m-theme(){
        color: themed($m-grey-900) !important;
      }
    }

  }

  .m-affiliate--link-footer{
    a {
      text-decoration: none;
    }
  }
}
