@import "defaults";

$m-announcment-height: 50px;

m-announcement{
  display: block;
  position: relative;
  width: 100%;
  min-height: $m-announcment-height;
  height: $m-announcment-height;


  .m-announcement{
    position:fixed;
    width: 100%;
    height: $m-announcment-height;
    z-index: 9999;
    display:flex;
    flex-direction: row;
    align-items:center;

    @include m-theme(){
      background-color: themed($m-blue);
    }

    @media screen and (max-width: 770px){
        width: 100%;
    }

  }

  .m-announcement--content{
    text-align: center;
    letter-spacing: 1.2px;
    font-weight: 300;
    font-family: 'Roboto', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    flex: 1;
    @include m-theme(){
      color: themed($m-white);
    }

    @media screen and (max-width:770px){
        font-size:10px;
        padding-right: 50px;
    }

    a {
      text-decoration:none;
      @include m-theme(){
        color: themed($m-white);
      }
      display:block;
      font-weight: 300;
    }
  }

  .m-announcement--close{
    cursor:pointer;
    padding:12px;
    position:absolute;
    right: 0;

    i {
      @include m-theme(){
        color: themed($m-white);
      }
    }
  }
}
