<div class="m-token-contributions--chart m-border">
  <div class="m-token-contributions--chart--contribution">
    <i class="material-icons">thumb_up</i>
    <div class="m-token-contributions--chart--contribution-text">
      <span>Votes</span>
      <span>+1</span>
    </div>
  </div>
  <div class="m-token-contributions--chart--contribution">
    <i class="material-icons" style="width:60px;">mode_comments</i>
    <div class="m-token-contributions--chart--contribution-text">
      <span>Comments</span>
      <span>+2</span>
    </div>
  </div>
  <div class="m-token-contributions--chart--contribution">
    <i class="material-icons">person_add</i>
    <div class="m-token-contributions--chart--contribution-text">
      <span>Subscribers</span>
      <span>+4</span>
    </div>
  </div>
  <div class="m-token-contributions--chart--contribution">
    <i class="material-icons">repeat</i>
    <div class="m-token-contributions--chart--contribution-text">
      <span>Reminds</span>
      <span>+4</span>
    </div>
  </div>
  <div class="m-token-contributions--chart--contribution">
    <i class="material-icons">people</i>
    <div class="m-token-contributions--chart--contribution-text">
      <span>Referrals</span>
      <span>+50</span>
    </div>
  </div>
  <div class="m-token-contributions--chart--contribution">
    <i class="material-icons">link</i>
    <div class="m-token-contributions--chart--contribution-text">
      <span>OnChain Transactions</span>
      <span>+10 (receiver)</span>
    </div>
  </div>
  <div class="m-token-contributions--chart--contribution">
    <i class="material-icons">gavel</i>
    <div class="m-token-contributions--chart--contribution-text">
      <span>Jury Duty</span>
      <span>+25</span>
    </div>
  </div>
  <div class="m-token-contributions--chart--contribution">
    <i class="material-icons">check_circle</i>
    <div class="m-token-contributions--chart--contribution-text">
      <span>Check-ins</span>
      <span>+2</span>
    </div>
  </div>
  <div class="m-token-contributions--chart--contribution">
    <i class="material-icons">code</i>
    <div class="m-token-contributions--chart--contribution-text">
      <span>Development</span>
      <span>Manually reviewed</span>
    </div>
  </div>
  <!--<div class="m-token-contributions&#45;&#45;chart&#45;&#45;columns">-->
    <!--<div class="m-token-contributions&#45;&#45;chart&#45;&#45;column">-->
      <!--<div class="m-token-contributions&#45;&#45;chart&#45;&#45;header">-->
        <!--<i class="material-icons">create</i>-->
        <!--<span i18n="@@WALLET__TOKENS__CONTRIBUTIONS__CHART__CREATION_SECTION">Creation</span>-->
      <!--</div>-->

      <!--<ul class="m-token-contributions&#45;&#45;chart&#45;&#45;list">-->
        <!--<li class="m-token-contributions&#45;&#45;chart&#45;&#45;item">-->
          <!--<span i18n="@@WALLET__TOKENS__CONTRIBUTIONS__CHART__VOTES">Votes</span>-->
          <!--<span class="value">+1</span>-->
        <!--</li>-->
        <!--<li class="m-token-contributions&#45;&#45;chart&#45;&#45;item">-->
          <!--<span i18n="@@WALLET__TOKENS__CONTRIBUTIONS__CHART__COMMENTS">Comments</span>-->
          <!--<span class="value">+2</span>-->
        <!--</li>-->
        <!--<li class="m-token-contributions&#45;&#45;chart&#45;&#45;item">-->
          <!--<span i18n="@@WALLET__TOKENS__CONTRIBUTIONS__CHART__SUBSCRIBERS">Subscribers</span>-->
          <!--<span class="value">+4</span>-->
        <!--</li>-->
        <!--<li class="m-token-contributions&#45;&#45;chart&#45;&#45;item">-->
          <!--<span i18n="@@WALLET__TOKENS__CONTRIBUTIONS__CHART__REMINDS">Reminds</span>-->
          <!--<span class="value">+4</span>-->
        <!--</li>-->
        <!--<li class="m-token-contributions&#45;&#45;chart&#45;&#45;item">-->
          <!--<span i18n="@@WALLET__TOKENS__CONTRIBUTIONS__CHART__REFERRALS">Referrals</span>-->
          <!--<span class="value">+10</span>-->
        <!--</li>-->
        <!--<li class="m-token-contributions&#45;&#45;chart&#45;&#45;item">-->
          <!--<span i18n="@@WALLET__TOKENS__CONTRIBUTIONS__CHART__TRAFFIC">Traffic</span>-->
          <!--<span class="value">(coming soon)</span>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->

    <!--<div class="m-token-contributions&#45;&#45;chart&#45;&#45;column">-->
      <!--<div class="m-token-contributions&#45;&#45;chart&#45;&#45;header">-->
        <!--<i class="material-icons">access_alarm</i>-->
        <!--<span i18n="@@WALLET__TOKENS__CONTRIBUTIONS__CHART__ATTENTION_SECTION">Attention</span>-->
      <!--</div>-->

      <!--<ul class="m-token-contributions&#45;&#45;chart&#45;&#45;list">-->
        <!--<li class="m-token-contributions&#45;&#45;chart&#45;&#45;item">-->
          <!--<span i18n="@@WALLET__TOKENS__CONTRIBUTIONS__CHART__CHECKINS">Check-ins</span>-->
          <!--<span class="value">+2</span>-->
        <!--</li>-->
        <!--<li class="m-token-contributions&#45;&#45;chart&#45;&#45;item">-->
          <!--<span i18n="@@WALLET__TOKENS__CONTRIBUTIONS__CHART__TIME">Time</span>-->
          <!--<span class="value">(coming soon)</span>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->

    <!--<div class="m-token-contributions&#45;&#45;chart&#45;&#45;column">-->
      <!--<div class="m-token-contributions&#45;&#45;chart&#45;&#45;header">-->
        <!--<i class="material-icons">code</i>-->
        <!--<span i18n="@@WALLET__TOKENS__CONTRIBUTIONS__CHART__DEV_SECTION">Dev</span>-->
      <!--</div>-->

      <!--<ul class="m-token-contributions&#45;&#45;chart&#45;&#45;list">-->
        <!--<li class="m-token-contributions&#45;&#45;chart&#45;&#45;item">-->
          <!--<span i18n="@@WALLET__TOKENS__CONTRIBUTIONS__CHART__CODE">Code</span>-->
        <!--</li>-->
        <!--<li class="m-token-contributions&#45;&#45;chart&#45;&#45;item">-->
          <!--<span i18n="@@WALLET__TOKENS__CONTRIBUTIONS__CHART__BUG_REPORTS">Bug reports</span>-->
        <!--</li>-->
        <!--<li class="m-token-contributions&#45;&#45;chart&#45;&#45;item">-->
          <!--<span i18n="@@WALLET__TOKENS__CONTRIBUTIONS__CHART__VULNERABILITIES">Security Vulnerabilities</span>-->
        <!--</li>-->
        <!--<li class="m-token-contributions&#45;&#45;chart&#45;&#45;item">-->
          <!--<span i18n="@@WALLET__TOKENS__CONTRIBUTIONS__CHART__DOCUMENTATIONS">Documentations</span>-->
        <!--</li>-->
        <!--<li class="m-token-contributions&#45;&#45;chart&#45;&#45;item">-->
          <!--<span i18n="@@WALLET__TOKENS__CONTRIBUTIONS__CHART__LANGUAGES">Languages</span>-->
        <!--</li>-->
        <!--<li class="m-token-contributions&#45;&#45;chart&#45;&#45;item">-->
          <!--<span class="italic" i18n="@@WALLET__TOKENS__CONTRIBUTIONS__CHART__ALL_REWARDS_ARE_REVIEWED">All dev rewards are reviewed</span>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="m-token-contributions&#45;&#45;algo">-->

    <!--<i class="material-icons">stars</i>-->

    <!--<span i18n="@@WALLET__TOKENS__CONTRIBUTIONS__CHART__YOUR_TOKENS_EQUAL">Your Tokens = </span>-->

    <!--<span class="bracket">(</span>-->

    <!--<span class="bracket-contents">-->
      <!--<span i18n="@@WALLET__TOKENS__CONTRIBUTIONS__CHART__YOUR_CONTRIB_SCORE">Your Contribution Score</span>-->
      <!--<hr />-->
      <!--<span i18n="@@WALLET__TOKENS__CONTRIBUTIONS__CHART__TOTAL_NETWORK_SCORE">Total Network Score</span>-->
    <!--</span>-->

    <!--<span class="bracket">)</span>-->

    <!--<span i18n="@@WALLET__TOKENS__CONTRIBUTIONS__CHART__DAILY_REWARD_POOL">* Daily Reward Pool</span>-->

  <!--</div>-->

</div>
