<ng-container *ngIf="choice?.type == 'user'; else hashtagBlock">
    <a
        href="javascript:;"
        (click)="selectChoice.next(choice)"
    >
        <img
            class="m-postAutocompleteItemRenderer__avatar mdl-shadow--2dp"
            [src]="minds.cdn_url + 'icon/' + choice.guid + '/medium/' + choice.icontime">
        {{ choice.username }}
    </a>
</ng-container>

<ng-template #hashtagBlock>
    <a
        href="javascript:;"
        (click)="selectChoice.next(choice)"
    >
        #{{ choice }}
    </a>
</ng-template>
